.search-wrapper{
  position: relative;
  height: 60px;
  transition: 1s;
}

.search-wrapper.fullscreen-init{
  height: 100vh;
}

.search-wrapper .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main{
  background: #3366ff;
}
